/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/ProductItem/ProductItem.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ProductItem_productItem__E0uto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  gap: 60px;
}
.ProductItem_productItem__img__QRF0g {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.ProductItem_productItem__img__QRF0g > img {
  border-radius: 10px;
  width: 50%;
}
.ProductItem_productItem__description__IYZhF {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
