@import '../../style/varibles.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	padding: 15px;
	margin-bottom: 40px;


	&__link {
		display: flex;
		gap: 20px;

		&>a {
			font-size: 25px;
			font-weight: 700;
			color: $orange;

			&:hover {
				color: $background;
			}
		}
	}

	&__logo {}

	&__filter {
		display: flex;
		gap: 20px;

		&>p {
			font-weight: 600;
			color: $orange;
		}
	}
}